.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 1px 10px rgba(18, 11, 70, 0.4);
    padding: 10px 13px;
    width: 100%;
    position: fixed;
    background-color: white;
    color: #120b46;
    z-index: 1000;
    /* backdrop-filter: blur(30px); */
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin-left: 35px;
    gap: 40px;
    /* height: 100%; */
}

.scroll-link {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #120b46;
    transition: color 0.3s ease;
    position: relative;
}

a:hover {
    color: #6863ad;
    /* border-bottom: 3px solid #120b46; */
}



.login-btn-container {
    margin-left: 20px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.login-btn {
    background-color: #120b46;
    color: white;
    border: none;
    padding: 13px 27px;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #2e2970;
}

.profile-btn {
    background-color: white;
    border: none;
    cursor: pointer;
    padding-left: 5px;
}

.profile-btn:hover {
    transform: scale(1.04);
}

.website-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}


@media (max-width: 500px) {
    .list {
        justify-content: center;
        gap: 30px;
        font-size: smaller;
        margin-left: 0;
    }

    .login-btn-container {
        margin-left: 0;
    }

    .content {
        font-size: large;
    }
}