.main-container {
    margin-top: 60px;
}

.post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    min-height: 90vh;
}

.select-input {
    height: 30px;
    margin-left: 18px;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .post-container {
        display: flex;
        flex-direction: column;
    }
}