.profile-container {
    width: 100%;
    min-height: 90vh;
    margin-top: 60px;
}

.user-details {
    display: flex;
    width: 100%;
    /* border: solid black; */
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.username {
    width: 65%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.edit-profile {
    margin-right: 10px;
    background-color: #2e2970;
    color: white;
    border: none;
    padding: 13px 27px;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-profile:hover {
    background-color: #4f46c7;
}

.image {
    width: 100px;
    height: 90px;
    background: url(../../assets/profile.png) no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    margin-left: 20px;
}

.post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-top: 10px;
}

.my-post-h2 {
    padding-left: 20px;
    margin-top: 20px;
}

.logout {
    background-color: rgb(146, 0, 0);
    color: white;
    border: none;
    padding: 13px 27px;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout:hover {
    background-color: red;
}

.no-post {
    width: 100%;
    margin-left: 20px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 300px;
    border-radius: 8px;
}

.error-message {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.input-field {
    margin-bottom: 15px;
    width: 100%;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
}

.input-field input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.save-button {
    background-color: #120b46;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.save-button:hover {
    background-color: #2e2970;
}


@media (max-width: 768px) {
    .user-details {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .image {
        margin-left: 0px;
    }

    .username,
    .buttons {
        width: 100%;
        padding: 5px 0;
    }

    .buttons {
        display: flex;
        justify-content: center;
    }

    .post {
        grid-template-columns: 1fr;
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    .post {
        grid-template-columns: 1fr;
        padding: 0 10px;
    }
}